@charset "UTF-8";
@media (max-width: 439.98px) {
  .followers {
    -webkit-box-ordinal-group: 1 !important;
        -ms-flex-order: 0 !important;
            order: 0 !important;
  }
  .buttons {
    -webkit-box-ordinal-group: 2 !important;
        -ms-flex-order: 1 !important;
            order: 1 !important;
    width: 100%;
  }
  .buttons .btn {
    width: 100%;
  }
  nav {
    gap: 5px;
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  nav .buttons .btn {
    font-size: 18px !important;
  }
  .followers .followers_item {
    width: auto !important;
    height: auto !important;
  }
  .logo {
    width: 59px !important;
    margin-right: 5%;
    height: auto !important;
  }
  .nav_wrapper {
    background: none !important;
    -webkit-backdrop-filter: none !important;
    backdrop-filter: none !important;
  }
  header {
    background: url(../img/Header/mobile_intro.png) !important;
    background-repeat: no-repeat !important;
    background-size: cover;
    background-position: center;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
}
@media (max-height: 799.98px) {
  header {
    height: 400vh !important;
  }
}
@media (min-width: 320px) and (max-width: 575.98px) {
  nav {
    padding: 0 15px !important;
  }
  nav .logo {
    width: 38px;
    height: 42px;
    min-width: 38px;
    min-height: 42px;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  nav .logo img {
    width: 100%;
    height: 100%;
  }
  nav .followers {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    gap: 10px !important;
  }
  nav .buttons {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    gap: 5px !important;
  }
  nav .buttons .btn {
    font-size: 12px;
    padding: 6px 3px 6px 6px !important;
  }
  .links_mobile {
    margin-top: 13px;
    padding: 14px 0 0;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .links_mobile a {
    font-size: 25px !important;
  }
  .links_mobile a::after {
    margin-top: 12px !important;
  }
  .header_info_wrapper {
    text-align: center !important;
    margin-top: 61px !important;
    padding: 0 23px;
  }
  .header_info_wrapper .header_info_title {
    max-width: 545px;
    margin: auto;
  }
  .header_info_wrapper .header_info_title img {
    width: 100%;
  }
  .header_info_wrapper .header_info_btns {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 15px;
  }
  .header_info_wrapper .header_info_btns .buttons {
    width: 100%;
  }
  .header_info_wrapper .header_info_btns .buttons .btn1 {
    padding: 9px 18px 10px 21px;
    width: 100%;
  }
  .header_info_wrapper .header_info_btns .product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .personal_icon {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 16px !important;
    gap: 20px;
  }
  .personal_icon li {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
    gap: 19px;
    text-align: left;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  nav {
    padding: 0 15px !important;
    -ms-flex-pack: distribute !important;
        justify-content: space-around !important;
  }
  nav .logo {
    width: 38px;
    height: 42px;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  nav .logo img {
    width: 100%;
    height: 100%;
  }
  nav .followers {
    -webkit-box-ordinal-group: 2 !important;
        -ms-flex-order: 1 !important;
            order: 1 !important;
    gap: 0 !important;
  }
  nav .buttons {
    -webkit-box-ordinal-group: 1 !important;
        -ms-flex-order: 0 !important;
            order: 0 !important;
  }
  nav .buttons .btn {
    padding: 6px 3px 6px 6px !important;
  }
  .links_mobile {
    margin-top: 13px;
    padding: 14px 0 0;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .links_mobile a {
    font-size: 25px !important;
  }
  .links_mobile a::after {
    margin-top: 12px !important;
  }
  .header_info_wrapper {
    text-align: center !important;
    margin-top: 61px !important;
    padding: 0 23px;
  }
  .header_info_wrapper .header_info_title {
    max-width: 545px;
    margin: auto;
  }
  .header_info_wrapper .header_info_title img {
    width: 100%;
  }
  .header_info_wrapper .header_info_btns {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .personal_icon {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .personal_icon li {
    list-style: none;
    /* justify-content: center; */
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 19px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  nav {
    padding: 0 3% !important;
  }
  nav .logo {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  nav .followers {
    -webkit-box-ordinal-group: 2 !important;
        -ms-flex-order: 1 !important;
            order: 1 !important;
  }
  nav .buttons {
    -webkit-box-ordinal-group: 1 !important;
        -ms-flex-order: 0 !important;
            order: 0 !important;
  }
  .links_mobile {
    margin-top: 13px;
    padding: 14px 0 0;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .links_mobile a {
    font-size: 25px !important;
  }
  .links_mobile a::after {
    margin-top: 12px !important;
  }
  .header_info_wrapper {
    text-align: center !important;
    margin-top: 61px !important;
  }
  .header_info_wrapper .header_info_title {
    max-width: 545px;
    margin: auto;
  }
  .header_info_wrapper .header_info_title img {
    width: 100%;
  }
  .header_info_wrapper .header_info_btns {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .personal_icon {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .personal_icon li {
    list-style: none;
    /* justify-content: center; */
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 19px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  nav {
    padding: 0 3% !important;
  }
  .links {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    gap: 40px;
  }
  .links_mobile {
    display: none !important;
  }
  .links_mobile {
    border: none !important;
  }
  .header_info_wrapper {
    text-align: center !important;
  }
  .header_info_wrapper .header_info_btns {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .personal_icon {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .personal_icon li {
    list-style: none;
    /* justify-content: center; */
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 19px;
  }
}
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .links {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    gap: 90px;
  }
  .links_mobile {
    display: none !important;
  }
  .links_mobile {
    border: none !important;
  }
}
@media (min-width: 1400px) {
  .links {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    gap: 90px;
  }
  .links_mobile {
    display: none !important;
  }
  .links_mobile {
    border: none !important;
  }
}
@media (max-width: 889.98px) {
  .first_video_title_icons {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    gap: 100px;
  }
  .first_video_title_icons .first_video_title_icon_item {
    min-width: 200px;
  }
}
@media (min-width: 320px) and (max-width: 575.98px) {
  .first_video_wrapper {
    padding: 0 5%;
  }
  .first_video_title_icons {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 100px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .first_video_wrapper {
    padding: 0 5%;
  }
  .first_video_title_icons {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 100px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .first_video_wrapper {
    padding: 0 5%;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .first_video_wrapper {
    padding: 0 5%;
  }
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1;
  font-family: "Jost", sans-serif;
  background: #010101;
}

.container {
  width: 100%;
  max-width: 1169px;
  margin: auto;
}

header {
  background-image: url(../img/Header/intro_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  max-height: 1080px;
  position: relative;
  -webkit-box-shadow: 0px -130px 100px 250px rgba(0, 0, 0, 0.91) inset;
          box-shadow: 0px -130px 100px 250px rgba(0, 0, 0, 0.91) inset;
}

.nav_wrapper {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(25.63%, rgba(0, 0, 0, 0.47)), color-stop(117.23%, rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.47) 25.63%, rgba(0, 0, 0, 0) 117.23%);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  padding: 21px 0;
  width: 100%;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.followers_item {
  padding: 14px 12px 10px;
  background: #111110;
  border-radius: 5px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  cursor: pointer;
}
.followers_item .hover_block {
  display: none;
}
.followers_item:hover {
  background: #fff;
}
.followers_item:hover .hover_hidden {
  display: none;
}
.followers_item:hover .hover_block {
  display: block;
}

.followers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 23px;
}
.buttons .btn {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  padding: 9px 18px 10px 21px;
}
.buttons .btn1 {
  border: 2px solid rgba(255, 255, 255, 0.45);
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.buttons .btn1:hover {
  border: 2px solid rgb(255, 255, 255);
  color: rgba(255, 255, 255, 0.9);
}
.buttons .btn2 {
  background: #ca6852;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.buttons .btn2:hover {
  background: #935243;
}

.links a,
.links_mobile a {
  text-decoration: none; /*Убираем стандартное подчёркивание ссылки если оно ещё не убрано*/
  display: inline-block; /*делаем чтобы наша ссылка из строчного элемента превратилась в строчно-блочный*/
  line-height: 1; /*Задаём высоту строки (можно в пикселях)*/
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  cursor: pointer;
}
.links a::after,
.links_mobile a::after {
  display: block; /*превращаем его в блочный элемент*/
  content: ""; /*контента в данном блоке не будет поэтому в кавычках ничего не ставим*/
  height: 3px; /*задаём высоту линии*/
  width: 0%; /*задаём начальную ширину элемента (линии)*/
  background: rgba(255, 255, 255, 0.61);
  border-radius: 16px; /*цвет фона элемента*/
  -webkit-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out; /*данное свойство отвечает за плавное изменение ширины. Здесь можно задать время анимации в секундах (в данном случае задано 0.4 секунды)*/
}
.links a:hover::after,
.links_mobile a:hover::after {
  width: 100%;
}
.links a:hover,
.links_mobile a:hover {
  color: goldenrod;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.links {
  display: none;
}

.links_mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #4b4948;
}

.header_wrapper {
  z-index: 11;
}

.header_info_wrapper {
  text-align: left;
  margin-top: 232px;
}
.header_info_wrapper ul {
  font-weight: 600;
  font-size: 27.8383px;
  line-height: 196.5%;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.68);
  margin: 48px 0;
}

.d_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.personal_icon li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 19px;
}
.personal_icon li::before {
  content: "";
  width: 34px;
  height: 34px;
  display: inline-block;
  background: url(../img/Header/icon_crosshair.svg);
}

.header_info_btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 45px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.header_info_btns .btn1 {
  padding-right: 60px;
  padding-left: 60px;
  font-weight: 700;
  font-size: 22.2603px;
  line-height: 32px;
  text-transform: uppercase;
  color: #c4c4c4;
}
.header_info_btns .product {
  width: 265px;
  padding: 9px;
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  color: #774200;
}

.product {
  border-radius: 7.15189px;
  border: 1.78082px solid #fff61b;
  -webkit-box-shadow: 0px 3px 100px -28px rgba(255, 246, 27, 0.7);
          box-shadow: 0px 3px 100px -28px rgba(255, 246, 27, 0.7);
  overflow-x: hidden;
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffa12a), to(#feef6d));
  background: linear-gradient(180deg, #ffa12a 0%, #feef6d 100%);
  float: left;
  -webkit-box-shadow: -6px -4px 46px 12px rgba(255, 161, 42, 0.6);
          box-shadow: -6px -4px 46px 12px rgba(255, 161, 42, 0.6);
}
.product img {
  display: block;
  position: relative;
}
.product .prodact_text {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #774200;
}
@-webkit-keyframes barberpole {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 30px;
  }
}
@keyframes barberpole {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 30px;
  }
}
.product:hover .product-hover {
  -webkit-animation: barberpole 180s linear infinite;
  animation: barberpole 180s linear infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

.product-hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  bottom: 0;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  background-size: 100px 100px;
  background-image: linear-gradient(-45deg, rgba(0, 0, 0, 0.07) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.07) 50%, rgba(0, 0, 0, 0.07) 75%, transparent 75%);
}

.first_video {
  background: linear-gradient(180.41deg, #000000 4.14%, rgba(0, 0, 0, 0.26) 19.52%, rgba(0, 0, 0, 0) 49.74%, rgba(0, 0, 0, 0) 76.71%, rgba(0, 0, 0, 0) 94.41%), linear-gradient(90.11deg, rgba(0, 0, 0, 0.9) 1.75%, rgba(0, 0, 0, 0.234) 18.47%, rgba(0, 0, 0, 0) 51.34%, rgba(0, 0, 0, 0.234) 80.65%, rgba(0, 0, 0, 0.9) 99.9%), url(../img/Second_section/background.png);
}

.first_video_title_icons {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 6%;
}

.first_video_title_icon_item {
  text-align: center;
}
.first_video_title_icon_item .first_video_title_icon_item_title {
  font-weight: 600;
  font-size: 30px;
  line-height: 196.5%;
  text-transform: uppercase;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFA12A), to(#FEEF6D)), rgba(255, 255, 255, 0.68);
  background: linear-gradient(180deg, #FFA12A 0%, #FEEF6D 100%), rgba(255, 255, 255, 0.68);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.first_video_img {
  margin-top: 40px;
}